.solutions-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  background-color: #000;
  color: #e0e0e0;
}

.solutions-background {
  width: 100%;
  padding: 2rem 1rem;
  background-color: #000;
}

.solutions-content {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* left align everything except the title */
}

.solutions-title {
  width: 100%; /* full width */
  text-align: center; /* center only this */
  font-size: 2.5rem;
  color: #cccccc;
  margin-bottom: 3rem;
  font-weight: 200;
}



.solution-category {
  margin-bottom: 3rem;
}

.solution-heading {
  font-size: 2rem;
  color: #6EF0CD;
  margin-bottom: 1rem;
  font-weight: 300;
}

  .solution-item {
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left: 3px solid #6EF0CD;
  width: 100%;
  text-align: left;
}


.solution-item h3 {
  font-size: 1.3rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
} 

.solution-item ul {
  list-style-type: none; 
  padding-left: 1.5rem;
  color: #cccccc;
}

.solution-item p {
  color: #999;
  font-style: italic;
  text-align: left,
}  

.solution-category,
.solution-item,
.solution-item h3,
.solution-item p,
.solution-item ul,
.solution-item li {
  width: 100%;
  text-align: left; /* ensure left aligned */
}
