/* Solutions.css */
.solutions-container {
  color: white;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  position: relative;
  overflow-x: hidden;
}

.solutions-background {
  background-color: #000000;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.solution-content {
  margin-bottom: 20px;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 900px;
  margin: 2rem auto;
  color: #e0e0e0;
  padding: 1rem;
  align-items: center;
  background-color: #141a29;
}

.solutions-content h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 12.5vh;
  color: #cccccc;
  font-weight: 200;
  padding-left: 1vw;
  padding-right: 1vw;
}

.solutions-content p {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-weight: 300;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.solution-content h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 12.5vh;
  color: #cccccc;
  font-weight: 200;
  padding-left: 1vw;
  padding-right: 1vw;
}

.video-container {
  background-color: black;
  width: 100%;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-container p {
  padding-top: 7rem;
  color: #6EF0CD;
  text-align: center;
}

.video-container video,
.video-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
